
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.time{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.bin{
  border: 1px solid black;
  padding: 15px;
  border-radius: 50%;
}
.bin .hours{
  background: #96665A;
}
